#notation-selector,
#sequence-selector
{
  display: inline;
  margin: 5px;
  font-size: 16px;
}

.test-selector-button {
  display: block;
  margin: 20px auto;
}

.test-log-saved-success,
.test-log-saved-failure {
  margin: 20px auto;
}

.test-log-saved-success {
  color: green;
}

.test-log-saved-failure {
  color: red;
}